spring:
  application:
    name: gestion-citas
  datasource:
    #    driver-class-name: org.postgresql.Driver
    #    url: jdbc:postgresql://localhost:5432/teams
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/gestion_citas
    username: root
    password:
  jpa:
    #    hibernate:
    #      ddl-auto: update
    #    database: postgresql
    #    database-platform: org.hibernate.dialect.PostgreSQLDialect
    #    show-sql: false
    #    open-in-view: false
    hibernate:
      ddl-auto: update
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: false
    open-in-view: false
    devtools:
      restart:
        enabled: true
server:
  #port: 8080
  servlet:
    context-path: /gestion-citas
